:root {
  --main-text-color: #463e3e;
  --anthro-background: #fdfdf9;
  --coral: #eb8575;
  --bright-blue: #72ddf5;
  --bright-blue-faded: #72ddf5aa;
  --green: #78de87;
  --green-faded: #78de87aa;
  --yellow: #f5e192;
  --peachy-pink: #ebaea7;
  --peachy-pink-faded: #ebaea7aa;

}


html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: var(--anthro-background);
  font-family: 'Heebo', sans-serif;
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  font-weight: 600;
  margin: 5px 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.15rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin: 5px 0 9px 0;
}

/* ================================ */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app h1 {
  text-align: center;
}


/* ================================ */
nav {
  border-bottom: 2px solid var(--yellow);
}

.nav-link {
  color: var(--main-text-color);
  transition:  0.6s cubic-bezier(0.37, 0, 0.63, 1);
}

.nav-link:hover {
  background-color: var(--peachy-pink-faded);
}
.nav-link.about-nav:hover {
  background-color: var(--peachy-pink-faded);
}
.nav-link.resume-nav:hover {
  background-color: var(--bright-blue-faded);
}
.nav-link.projects-nav:hover {
  background-color: var(--green-faded);
}

a:hover {
  color: var(--main-text-color);
}

.fa-bars {
  color: var(--main-text-color);
}

/* ================================ */
footer {
  border-top: 2px solid var(--yellow);
  width: 70%;
}

/* ================================ */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 85%;
}

.about h2 {
  border-bottom: 3px solid var(--coral);
}

.profile-frame {
  height: 250px;
  width: 250px;
  border-radius: 125px;
  overflow: hidden;
  position: relative;
  margin: 10px;
}

.profile-picture {
  height: 500px;
  z-index: -10;
  position: absolute;
  top: -45%;
  left: -23%;
}

/* ================================ */
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
}
.project-blurb {
  width: 85%;
}

.project h2 {
  border-bottom: 3px solid var(--green);
}

.project h4 {
  border-bottom: 3px solid var(--green-faded);
  width: 150px;
}

.individual-project {
  margin: 15px 0;
  width: 100%;
}

.project-thumbnail-frame {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  transition: 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

.project-thumbnail {
  width: auto;
  height: 150px;
  position: absolute;
}

.project-thumbnail-frame:hover {
  box-shadow: -2px 2px var(--peachy-pink);
  transform: translate(2px, -2px);
}

.project-info {
  flex-direction: column;
  transition: opacity 0.3s linear;
}

.underlined {
  border-bottom: 2px solid var(--peachy-pink);
}


/* .row {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
} */



/* ================================ */
/* ICONS */
.clickable-icon.wide {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Heebo', sans-serif;
  width: 150px;
  height: 30px;
  cursor: pointer;
  margin: 3px auto;
  transition: .2s linear;
  opacity: 0.9;
}

.clickable-icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50px;
  height: 30px;
  cursor: pointer;
  margin: 3px 5px;
  transition: .2s linear;
  opacity: 0.9;
}

.clickable-icon a {
  color: var(--main-text-color);
}

.clickable-icon:hover {
  transform: scale(1.01);
  opacity: 1;
}

/* ================================ */
.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 85%;
}

.resume h2 {
  border-bottom: 3px solid var(--bright-blue);
}
.resume h4 {
  border-bottom: 2px solid var(--bright-blue);
  width: 90px;
}

.skills {
  text-align: left;
}

.resume .row {
  width: 100%;
}

.general-assembly-logo {
  height: 50px;
  margin-right: 6px;
  margin-bottom: 6px;
}

.cornell-logo {
  height: 45px;
  margin-bottom: 6px;
}


/* ================================ */
@media (max-width: 450px) {
  .flex-s {
    display: flex;
    flex-direction: column;
  }

  .about {
    padding: 0 10px;
  }

  .offset-4 {
    margin-left: 0;
  }
   .individual-project .offset-1 {
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
