/* ==== COLOR VARIABLES ==== */
:root {
  --main-text-color: #463e3e;
  --anthro-background: #fdfdf9;
  --coral: #eb8575;
  --bright-blue: #72ddf5;
  --bright-blue-faded: #72ddf5aa;
  --green: #78de87;
  --green-faded: #78de87aa;
  --yellow: #f5e192;
  --yellow-faded: #f5e192aa;
  --peachy-pink: #ebaea7;
  --peachy-pink-faded: #ebaea7aa;

}

html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: var(--anthro-background);
  font-family: 'Heebo', sans-serif;
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  font-weight: 600;
  margin: 5px 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.15rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin: 5px 0 9px 0;
}

/* ================================ */
/* ==== APP ==== */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  position: relative;
}
.app h1 {
  text-align: center;
}

/* ================================ */
/* ==== ICONS ==== */
.clickable-icon.wide {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Heebo', sans-serif;
  width: 150px;
  height: 30px;
  cursor: pointer;
  margin: 3px 0;
  transition: .2s linear;
  opacity: 0.9;
}

.clickable-icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50px;
  height: 30px;
  cursor: pointer;
  margin: 3px 5px;
  transition: .2s linear;
  opacity: 0.9;
}

.clickable-icon a {
  color: var(--main-text-color);
}

.clickable-icon:hover {
  transform: scale(1.01);
  opacity: 1;
}

/* ================================ */
/* ==== NAV ==== */
nav {
  border-bottom: 2px solid var(--yellow);
}

.nav-link {
  color: var(--main-text-color);
  transition:  0.3s cubic-bezier(0.37, 0, 0.63, 1);
}

.nav-link:hover {
  background-color: var(--peachy-pink-faded);
}
.nav-link.scroll-top-nav:hover {
  background-color: var(--yellow);
}
.nav-link.about-nav:hover {
  background-color: var(--peachy-pink-faded);
}
.nav-link.resume-nav:hover {
  background-color: var(--bright-blue-faded);
}
.nav-link.projects-nav:hover {
  background-color: var(--green-faded);
}

a:hover {
  color: var(--main-text-color);
}

.fa-bars {
  color: var(--main-text-color);
}

/* ================================ */
/* ==== FOOTER ==== */
footer {
  border-top: 2px solid var(--yellow);
  width: 70%;
}

/* ================================ */
/* ==== STICKY BUTTON ==== */
.sticky-scroll {
  position: fixed;
  top: 88vh;
  right: 0vw;
  background-color: var(--yellow);
  z-index: 10;
}

.sticky-scroll ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


/* ================================ */
/* ==== ABOUT ==== */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 85%;
}

.about h2 {
  border-bottom: 3px solid var(--coral);
}

.profile-frame {
  height: 250px;
  width: 250px;
  border-radius: 125px;
  overflow: hidden;
  position: relative;
  margin: 10px;
}

.profile-picture {
  height: 500px;
  z-index: -10;
  position: absolute;
  top: -45%;
  left: -23%;
}

.about-picture-container {
  display: flex;
}

.about-picture-frame {
  height: 250px;
  max-width: 250px;
  overflow: hidden;
  position: relative;
  margin: 10px;
}

.about-picture-frame img {
  height: 250px;
}

/* ================================ */
/* ==== PROJECT ==== */
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
}

.project-blurb {
  width: 85%;
}

.project h2 {
  border-bottom: 3px solid var(--green);
}

.project h4 {
  border-bottom: 3px solid var(--green-faded);
  width: 150px;
}

.info-toggle:hover {
  background-color: var(--green);
}

.individual-project {
  margin: 15px 0;
  /* width: 100%; */
  width: 85%;
}

.project-thumbnail-frame {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  transition: 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

.project-thumbnail {
  width: auto;
  height: 150px;
  position: absolute;
}

.project-thumbnail-frame:hover {
  box-shadow: -3px 3px var(--green);
  transform: translate(3px, -3px);
}

.project-info {
  flex-direction: column;
  transition: opacity 0.3s linear;
}


/* ================================ */
/* ==== RESUME ==== */
.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 85%;
}

.resume h2 {
  border-bottom: 3px solid var(--bright-blue);
}
.resume h3 {
  border-bottom: 2px solid var(--bright-blue);
  width: 100px;
}

.skills {
  text-align: left;
}

.resume .row {
  width: 100%;
}

.general-assembly-logo {
  height: 50px;
  margin-right: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.cornell-logo {
  height: 45px;
  margin-right: 6px;
  margin-bottom: 6px;
}


/* ================================ */
/* ==== MEDIA QUERIES ==== */
@media (max-width: 770px) {
  .individual-project {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 85%;
  }

  .individual-project .thumbnail-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .more-info {
    align-items: start;
  }


}

@media (max-width:760px) {
  .individual-project .offset-4 {
    margin-left: 0;
  }
}

@media (max-width: 450px) {
  .row:before, .row:after {
    display: inline-block;
  }

  .individual-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
  }

  .individual-project .row {
    width: 100%;
  }

  /* .individual-project .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */

  .about {
    padding: 0 10px;
  }

  .offset-4 {
    margin-left: 0;
  }
   .individual-project .offset-1 {
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .individual-project .offset-4 {
    margin-left: 0;
  }


  .about-picture-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
